@page
@model Platypus.Users.Areas.Account.Pages.LoginModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
    <script src="~/css/users.css" asp-append-version="true"></script>
    <script src="~/js/users.js" asp-append-version="true"></script>
</head>
<body>

    <h1>Users - Account - Login</h1>

    <i>@DateTime.Now.ToLongDateString() - @DateTime.Now.ToLongTimeString()</i>
</body>
</html>