@page
@model Platypus.Settings.Areas.Admin.Pages.Settings.IndexModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
    <script src="~/css/settings.css" asp-append-version="true"></script>
    @*<script src="~/js/users.js" asp-append-version="true"></script>*@
</head>
<body>

    <h1>Paramétrage - Administration - Dashboard</h1>

    <img src="~/img/alig.jpg" alt=""/>

    <i>@DateTime.Now.ToLongDateString() - @DateTime.Now.ToLongTimeString()</i>

</body>
</html>